<!-- heading,textfield, add-button-->

<h1 class="display-4 p-4" style="color:darkslateblue;"> Wat2do</h1><br>
<div class="container col-4 ">
<input type="text" class="shadow-lg border-0 form-control " placeholder="Enter todo" #newTodo/><br>
<!--button invoking addTodo function-->
<button class="btn btn-primary" (click)="addTodo(newTodo.value); newTodo.value='' ">Add</button><br><br>
</div>


<!--list of todos in table format-->
<div class="container">
<table class="table">
  <tr>
    <th>Label</th>
    <th>Priority</th>
    <th>Done</th>
    <th>Action</th>
  </tr>
  <tr *ngFor=" let todo of todos">            <!--iteration for todos-->
    <td>{{todo.label}}</td>                   <!-- todos objects-->
    <td>{{todo.priority}}</td>
    <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
    <!--button invoking delete function-->
    <td><button class=" btn btn-outline-danger" (click)="deleteTodo(todo)">Delete</button> </td>
  </tr>
</table>
</div>

<router-outlet></router-outlet>
<app-root></app-root>


