/* You can add global styles to this file, and also import other style files */
body{
    background-image:url('https://thumbs.dreamstime.com/b/todo-list-seamless-pattern-universal-background-66678083.jpg') ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
